<div id="box">
	<div>
		<form action="/admin/users/edit/{{ user.id }}" method="post">
			<fieldset>
				<legend>Editar usuario</legend>
				<label for="firstname">Nombre:</label><input type="text" name="firstname" id="firstname" data-bvalidator="required" data-bvalidator-msg="Ingrese el nombre del usuario." value="{{ user.firstname }}"/><br/>
				<label for="lastname">Apellido:</label><input type="text" name="lastname" id="lastname" data-bvalidator="required" data-bvalidator-msg="Ingrese el nombre del usuario." value="{{ user.lastname }}"/><br/>	
			</fieldset>
			<div class="alignCenter">
				<input type="submit" value="Guardar"/>
				<a href="/admin/users/" title="Cancelar">Cancelar</a>
			</div>
		</form>
	</div>
</div>