<div id="panel">
  <ul>
    <li>
      Bienvenido: 
    </li>
    <li>
      <a href="/admin/users/changepassword/" tittle="Cambiar Password" class="key">Cambiar password</a>
    </li>
    <li>
      <a href="/admin/logoff" title="Salir" class="door_open">Salir</a>
    </li>
  </ul>
</div>
